*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url('../assets/rm218-bb-07.jpg');
    color:aliceblue;
    background-size: cover;
    background-attachment: fixed;
  
  }

  .nav-pills .nav-link.active {
    background-color: #310dfd;
    color: white;
  }
  .nav-pills .nav-link {
    color: white;
  }
